*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    height: 100vh;
}
/* .bg2{
    background-image: url('/assets/img/pattern-2.png');
    background-repeat: no-repeat;
}
.bg1{
    background-image: url('/assets/img/pattern-1.png');
    background-repeat: no-repeat;
} */
.main-text{
    color: rgb(66, 152, 239);
}
.navbar-brand{
    font-size: 27px;
    font-weight: 500;
}
.navbar-brand > span{
    color: rgb(66, 152, 239);
}
.active{
    color: rgb(66, 152, 239) !important;
    transition: 0.5 all;
}
.navbar-nav li>a:hover{
    color: rgb(66, 152, 239) !important;
    transition: 0.5 all;
}